body{
margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
}

/* HEADER */
header{
text-align:center;
background:black;
padding:20px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

nav a:hover{
color:gold;
}

/* HERO */
.hero{
position:relative;
height:60vh;
overflow:hidden;
}

.hero video{
width:100%;
height:100%;
object-fit:cover;
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

/* ANIMATION */
.fade{
opacity:0;
transform:translateY(30px);
animation:fade 1s forwards;
}

.delay{
animation-delay:0.5s;
}

@keyframes fade{
to{
opacity:1;
transform:translateY(0);
}
}

/* SECTION */
section{
padding:40px;
text-align:center;
}

/* LIST */
ul{
text-align:left;
max-width:600px;
margin:auto;
}

/* GALLERY */
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:10px;
}

.gallery img{
width:100%;
border-radius:10px;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.05);
}

/* BUTTON */
.btn{
background:gold;
color:black;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
display:inline-block;
margin-top:10px;
}

.fb{
background:#1877f2;
color:white;
}

/* FOOTER */
footer{
background:black;
padding:20px;
text-align:center;
}
.fade{
opacity:0;
transform:translateY(30px);
animation:fade 1s forwards;
}

@keyframes fade{
to{
opacity:1;
transform:translateY(0);
}
}
