body{
margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
}

header{
text-align:center;
background:black;
padding:20px;
}

.logo{
width:120px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
height:80vh;
background:url('images/photo1.jpg');
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1a1a1a;
margin:15px;
padding:20px;
border-radius:10px;
width:250px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:10px;
padding:20px;
}

.gallery img{
width:100%;
border-radius:10px;
}

section{
padding:40px;
text-align:center;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px;
background:gold;
border:none;
cursor:pointer;
}

footer{
background:black;
padding:20px;
text-align:center;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:green;
padding:15px;
border-radius:50px;
color:white;
}

.admin{
position:fixed;
bottom:20px;
left:20px;
background:red;
padding:15px;
color:white;
}

.login{
text-align:center;
margin-top:100px;
}
